// ---------------------------------------------------------------------------
// Imports

//@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

//$total-columns  : 12;
//$column-width   : 4em;
//$gutter-width   : 1em;
//$grid-padding   : $gutter-width;

//$show-grid-backgrounds  : true;

// For Demo Simple Template
@import "vendor/gumby";

body {
  background: #efefef;
}

#app {
  margin-top: 5em;
  background: white;
}

.loading {
  margin-top: 0.75em;
}
