/**
 * Animation Module
 *
 * for AngularJS
 */

.fadeIn {
  @include opacity(1);
  overflow: hidden;
  @include transition(500ms ease-in);

  &.ng-hide-add, &.ng-hide-remove, &.ng-enter-active, &.ng-leave {
    display: block !important;
    @include opacity(1);
  }

  &.ng-hide, &.ng-enter, &.ng-leave-active {
    @include opacity(0);
  }
}

.pushIn {
  position: relative;
  left: 0;
  @include transition(500ms);

  &.ng-hide-add, &.ng-hide-remove, &.ng-enter-active, &.ng-leave-active {
    display: block !important;
    left: 0;
  }

  &.ng-hide, &.ng-enter, &.ng-leave {
    left: -100%;
  }
}
